.dynamic_dropdown_container {
	position: relative;
	width: 100%;
	min-height: 2.5rem;
	border: 0.0625rem solid #e0e0e0;
	border-radius: 0.375rem;
	background-color: #fff;
	min-width: 136px;

	&:hover {
		border-color: #212121;
		border: 0.0625rem solid;
	}

	&:focus-visible {
		outline: 0.125rem solid #212121;
	}
}

.dynamic_dropdown_input_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0.125rem solid transparent;
	border-radius: 0.375rem;
	min-height: 2.5rem;
	cursor: pointer;

	&:hover {
		outline: 0.0625rem solid #212121;
		border-color: transparent;
	}

	&.selected {
		border-color: #212121;
	}
}

.chips_container {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	width: 90%;
	padding: 0.375rem;
}

.chip {
	display: flex;
	align-items: center;
	padding: 0.125rem 0.5rem;
	border-radius: 1rem;
	gap: 0.25rem;
}

.chip_label {
	font-size: var(--cell-font-size);
	color: var(--cell-text-primary-color);
	letter-spacing: 0.0156rem;
	line-height: 1.5rem;
	word-break: break-all;
}

.toggle_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.popover_container {
	max-width: 40rem;
	z-index: 9999999;
	padding: 1.25rem;
	border-radius: 0.375rem;
	border: 0.0625rem solid #cfd8dc;
	background: #fff;
	box-shadow: 0px 6px 12px 0px rgba(122, 124, 141, 0.2);
	min-width: 25rem;
	margin-top: 0.5rem !important;
}

.option_container {
	margin-top: 0.75rem;
	max-height: 18.75rem;
	overflow-y: auto;
}

.checkbox_item {
	padding: 0.5rem;
	cursor: pointer;
}

.option_not_found {
	padding: 0.5rem;
	color: #607d8b;
	font-size: 0.875rem;
}
