.info-display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.source-preference-checkboxes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
