.loading_container {
	margin: 0 0.1875rem;
	height: 1.25rem;
	cursor: unset;
}

.loading_spinner {
	border: 0.25rem solid rgba(0, 0, 0, 0.1);
	border-left-color: white;
	border-radius: 50%;
	width: 1.25rem;
	height: 1.25rem;
	animation: spin 1s linear infinite;
}
