.rating_field_container {
	display: flex;
	border-radius: 0.375rem;
	border: 0.0625rem solid #cfd8dc;
	min-height: 2.5rem;
	padding: 0.125rem 0rem;

	&:hover {
		border-color: #212121;
	}

	&:focus-within {
		outline: 0.125rem solid #212121;
	}
}
