.asset-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  gap: 2rem;
}

.asset-not-found-header {
  padding: 4rem 0;
}

.asset-not-found-content {
  display: flex;
  padding-top: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 650px;
}

.asset-not-found-gradient {
  position: fixed;
  width: 1060px;
  height: 678px;
  right: -350px;
  top: -350px;

  background: conic-gradient(
    from 180deg at 50% 50%,
    #e91e63 0deg,
    #40c4ff 151.87deg,
    #33d375 264.38deg,
    #ffc107 360deg
  );
  opacity: 0.15;
  filter: blur(63px);
  border-radius: 356px;
  transform: matrix(0.96, -0.28, -0.28, -0.96, 0, 0);
}
