.oute-ds-drawer {
  z-index: 100;
}
/* .oute-ds-drawer.persistent {
  z-index: 1;
} */
.oute-ds-drawer .drawer-header {
  display: flex;
  align-items: center;
}
.oute-ds-drawer.left .drawer-header {
  justify-content: flex-end;
}
.oute-ds-drawer.right .drawer-header {
  justify-content: flex-start;
}
.oute-ds-drawer .dragger {
  width: 1rem;
  position: fixed;
  cursor: col-resize;
  z-index: 1;
  top: 0;
  bottom: 0;
  background-color: transparent;
}

.resize-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: col-resize;
}
