.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.agentCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.agentCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.375rem;
  border: 0.75px solid #cfd8dc;
  cursor: pointer;
}
.agentCard:hover {
  border-color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
