.container {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.input {
  width: 100%;
  height: 100%;
  /* padding: 8px 12px; */
  border: none;
  border-radius: .375rem;
  font-size: .875rem;
  background-color: transparent;
  min-height: 2.25rem;
}

.input:focus {
  outline: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .input {
    font-size: .8125rem;
    padding: .375rem .5rem;
    min-height: 2rem;
  }
}
