.labelWithTooltip {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.label {
  display: flex;
  align-items: center;
  color: var(--grey-darken-4, #263238);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 200% */
  letter-spacing: 0.01563rem;
}

.required {
  color: #ef4444;
  margin-left: 0.25rem;
}

.helpIcon {
  color: #94a3b8;
}
