.field_label_container {
	display: flex;
	align-items: center;
	gap: 4rem;
	width: 100%;
}

.label_wrapper {
	width: 20%;
	min-width: 0;
	color: #555;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	width: 1.25rem;
	height: 1.25rem;
	object-fit: contain;
	flex-shrink: 0;
}

.label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1rem;
	font-family: var(--tt-font-family);
	color: var(--cell-text-primary-color);
	min-width: 0;
}

.content {
	width: 80%;
	min-width: 0;
}
