.groupOption {
	display: flex;
	width: auto;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 0.5rem;
	height: 1.875rem;
}

.groupOption:hover {
	border-radius: 0.375rem;
	background-color: #eceff1;
}

.groupOptionIcon img {
	margin-top: 0.1875rem;
}

.groupOptionLabel {
	color: #263238;
	text-align: center;
	font-family: Inter;
	margin-left: 0.375rem;
	font-size: 0.875rem;
	letter-spacing: 0.0063rem;
}
