@media (max-width: 767px) {
	.sort_option_label {
		max-width: 12rem !important;
	}
}

.sort_option {
	display: flex;
	width: auto;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 0.5rem;
	border-radius: 0.375rem;
	cursor: pointer;
	gap: 0.375rem;

	&:hover {
		background-color: #eceff1;
	}

	.sort_option_icon img {
		margin-top: 0.1875rem;
	}

	.sort_option_label {
		color: #263238;
		text-align: center;
		letter-spacing: var(--subtitle2-letter-spacing);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 25rem;
	}
}

.sort_view_highlighted {
	background-color: #b1edd0 !important;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12.5rem;
	width: 31.25rem;
}
