.container {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 24px;
  background-color: #fff;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04); */
  /* text-align: center; */
}

.heading {
  font-size: 14px;
  font-weight: 600;
  color: #2d2d2d;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 8px;
}

.cardIcon {
  width: 24px;
  height: 24px;
}
