REACT_APP_KEYCLOAK_REALM=xyz
REACT_APP_KEYCLOAK_RESOURCE=xyx
REACT_APP_KEYCLOAK_AUTH_SERVER_URL=xyz
REACT_APP_API_BASE_URL=https://your_api_path
REACT_APP_SENTRY_DSN="https://d7b447472bd6637e51bd0480f1f18802@o4507174654312448.ingest.us.sentry.io/4507174655754240"
REACT_APP_CONTENT_BASE_URL=content_url
REACT_APP_FILE_UPLOAD_SERVER=upload_url
REACT_APP_WC_LANDING_URL=https://your_landing_url
REACT_APP_INTERCOM_ID=intercom_id
REACT_APP_CLARITY_ID=your_clarity_id
REACT_APP_OUTE_SERVER=your_oute_server
REACT_APP_SENTRY_RELEASE_ID=your_latest_commit_id
REACT_APP_ENABLE_SENTRY=true
