@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:global(html) {
  font-size: clamp(13px, 0.75vw, 18px);
}
html {
  overscroll-behavior: none;
  font-size: clamp(13px, 0.75vw, 18px);
}

body {
  overscroll-behavior: none;
  font-family: Inter;
}

:root {
  /* =========== COLORS =========== */

  /* Dark Blue */
  --dark-blue-50: #eef2fc;
  --dark-blue-100: #cad2f1;
  --dark-blue-200: #97a3cd;
  --dark-blue-300: #6778b7;
  --dark-blue-400: #495ea9;
  --dark-blue-500: #1c3693;
  --dark-blue-600: #193186;
  --dark-blue-700: #142668;
  --dark-blue-800: #0f1e51;
  --dark-blue-900: #0c173e;

  --dark-blue-light: var(--dark-blue-50);
  --dark-blue-main: var(--dark-blue-500);
  --dark-blue-dark: var(--dark-blue-900);

  /* Red */
  --red-50: #fdebee;
  --red-100: #f9c2cb;
  --red-200: #f6a4b2;
  --red-300: #f27a8e;
  --red-400: #f06179;
  --red-500: #ec3957;
  --red-600: #d7344f;
  --red-700: #a8283e;
  --red-800: #821f30;
  --red-900: #631825;
  --red-A100: #220309;

  --red-light: var(--red-50);
  --red-main: var(--red-500);
  --red-dark: var(--red-900);

  /* White */
  --white-50: #fcfcfc;
  --white-100: #f6f6f6;
  --white-200: #f1f1f1;
  --white-300: #ebebeb;
  --white-400: #e7e7e7;
  --white-500: #e1e1e1;
  --white-600: #cdcdcd;
  --white-700: #a0a0a0;
  --white-800: #7c7c7c;

  --white-light: var(--white-50);
  --white-main: var(--white-500);
  --white-dark: var(--white-800);

  /* Blue */
  --blue-50: #f0fcfc;
  --blue-100: #d1f6f6;
  --blue-200: #baf2f2;
  --blue-300: #9becec;
  --blue-400: #88e8e8;
  --blue-500: #6ae2e2;
  --blue-600: #60cece;
  --blue-700: #4ba0a0;
  --blue-800: #3a7c7c;
  --blue-900: #2d5f5f;

  --blue-light: var(--blue-50);
  --blue-main: var(--blue-500);
  --blue-dark: var(--blue-900);

  /* Yellow */
  --yellow-50: #fff8e6;
  --yellow-100: #ffeab2;
  --yellow-200: #ffdf8d;
  --yellow-300: #ffd15a;
  --yellow-400: #ffc839;
  --yellow-500: #ffba08;
  --yellow-600: #e8a907;
  --yellow-700: #b58406;
  --yellow-800: #8c6604;

  --yellow-light: var(--yellow-50);
  --yellow-main: var(--yellow-500);
  --yellow-dark: var(--yellow-800);

  /* Orange */
  --orange-50: #fff2ee;
  --orange-100: #ffd6c9;
  --orange-200: #ffc2af;
  --orange-300: #ffa78b;
  --orange-400: #ff9575;
  --orange-500: #ff7b52;
  --orange-600: #e8704b;
  --orange-700: #b5573a;
  --orange-800: #8c442d;
  --orange-900: #6b3422;

  --orange-light: var(--orange-50);
  --orange-main: var(--orange-500);
  --orange-dark: var(--orange-900);

  /* Blue Gray */
  --blue-gray-50: #f4f5f6;
  --blue-gray-100: #dcdfe4;
  --blue-gray-200: #cbd0d7;
  --blue-gray-300: #b3bac5;
  --blue-gray-400: #a5adb9;
  --blue-gray-500: #8e98a8;
  --blue-gray-600: #818a99;
  --blue-gray-700: #656c77;
  --blue-gray-800: #4e545c;
  --blue-gray-900: #3c4047;

  --blue-gray-light: var(--blue-gray-50);
  --blue-gray-main: var(--blue-gray-500);
  --blue-gray-dark: var(--blue-gray-900);

  /* Purple */
  --purple-50: #efe6fd;
  --purple-100: #ceb0fa;
  --purple-200: #b78af7;
  --purple-300: #9654f4;
  --purple-400: #8133f1;
  --purple-500: #6200ee;
  --purple-600: #5900d9;
  --purple-700: #4600a9;
  --purple-800: #360083;
  --purple-900: #290064;

  --purple-light: var(--purple-50);
  --purple-main: var(--purple-500);
  --purple-dark: var(--purple-900);

  /* Green */
  --green-50: #edfbf4;
  --green-100: #c8f4de;
  --green-300: #89e7b8;
  --green-500: #4fdb95;
  --green-600: #48c788;
  --green-700: #389b6a;
  --green-800: #2b7852;
  --green-900: #215c3f;

  --green-light: var(--green-50);
  --green-main: var(--green-500);
  --green-dark: var(--green-900);

  /* Dark Green */
  --dark-green-50: #ebf5f2;
  --dark-green-100: #c1e0d7;
  --dark-green-200: #a3d1c3;
  --dark-green-300: #78bca8;
  --dark-green-300: #5eaf97;
  --dark-green-500: #369b7d;
  --dark-green-600: #318d72;
  --dark-green-700: #266e59;
  --dark-green-800: #1e5545;
  --dark-green-900: #174135;

  --dark-green-light: var(--dark-green-50);
  --dark-green-main: var(--dark-green-500);
  --dark-green-dark: var(--dark-green-900);

  /* Primary */
  --primary-50: #ebf4ff;
  --primary-100: #c0dbff;
  --primary-200: #a2caff;
  --primary-300: #78b2ff;
  --primary-400: #5da3ff;
  --primary-500: #358cff;
  --primary-600: #307fe8;
  --primary-700: #2663b5;
  --primary-800: #1d4d8c;
  --primary-900: #163b6b;

  --primary-light: var(--primary-50);
  --primary-main: var(--primary-500);
  --primary-dark: var(--primary-900);
  --primary-gradient: linear-gradient(
    177deg,
    var(--primary-500) -45.6%,
    var(--dark-blue-500) 70.34%
  );

  --sucess: var(--dark-green-main);
  --error: #ff5252;
  --info: var(--primary-main);
  --warning: var(--yellow-main);

  /* =========== FONTS =========== */

  /* --font-family-regular: "Inter", sans-serif;
  --font-family-light: "Inter-300", sans-serif;
  --font-family-bold: "Inter-700", sans-serif; */

  --font-family: "Inter", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;

  /* font-weight, font-size / line-height font-family */

  /* body1 */
  --body1: var(--font-weight-regular) 1rem / 1.5rem var(--font-family);
  --body1-letter-spacing: 0.032rem;

  /* body2 */
  --body2: var(--font-weight-regular) 0.875rem / 1.25rem var(--font-family);
  --body2-letter-spacing: 0.0157rem;

  /* h1 */
  --h1: var(--font-weight-regular) 5.5rem / 6rem var(--font-family);
  --h1-letter-spacing: 0.094rem;

  /* h2 */
  --h2: var(--font-weight-regular) 3.5rem / 3.75rem var(--font-family);
  --h2-letter-spacing: 0.031rem;

  /* h3 */
  --h3: var(--font-weight-regular) 3rem / 3.125rem var(--font-family);
  --h3-letter-spacing: 0; /* Approved By Design Team */

  /* h4 */
  --h4: var(--font-weight-regular) 2rem / 2.5rem var(--font-family);
  --h4-letter-spacing: 0.0157rem;

  /* h5 */
  --h5: var(--font-weight-regular) 1.5rem / 2rem var(--font-family);
  --h5-letter-spacing: 0.0157rem;

  /* h6 */
  --h6: var(--font-weight-regular) 1.25rem / 2rem var(--font-family);
  --h6-letter-spacing: 0.0157rem;

  /* subtitle1 */
  --subtitle1: var(--font-weight-regular) 1rem / 1.75rem var(--font-family);
  --subtitle1-letter-spacing: 0.0095rem;

  /* subtitle2 */
  --subtitle2: var(--font-weight-regular) 0.875rem / 1.375rem var(--font-family);
  --subtitle2-letter-spacing: 0.0063rem;

  /* xsmallchip */
  --xsmallchip: var(--font-weight-regular) 0.625rem / 1.25rem var(--font-family);

  /* caption */
  --caption: var(--font-weight-regular) 0.75rem / 1.25rem var(--font-family);
  --caption-letter-spacing: 0.025rem;

  /* overline */
  --overline: var(--font-weight-regular) 0.75rem / 2rem var(--font-family);
  --overline-letter-spacing: 0.125rem;

  /* capital */
  --capital: 600 0.875rem / 2.25rem var(--font-family);
  --capital-letter-spacing: 0.07813rem;
}
