.scq_field_container {
	width: 100%;
	min-height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
	background-color: #fff;
	border: 0.0625rem solid #e0e0e0;
	border-radius: 0.375rem;
	cursor: pointer;

	&:hover {
		border-color: #212121;
	}

	&:focus-visible {
		outline: 0.125rem solid #212121;
	}
}

.content_wrapper {
	min-width: 0;
	flex: 1;
}

.popover_container {
	z-index: 99999;
	background-color: #fff;
	border: 0.0625rem solid #cfd8dc;
	border-radius: 0.375rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	min-width: 25rem;
	max-width: 40rem;
	margin-top: 0.5rem !important;
	padding: 1.25rem;
}
