# Default registry - handles all packages including oute-services-* (private) and public npm packages
registry=https://npm.gofo.app/
//npm.gofo.app/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ6b3lhIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sIm5hbWUiOiJ6b3lhIiwiZ3JvdXBzIjpbInpveWEiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzcwNzIwNzYzLCJuYmYiOjE3NzA3MjA3NjMsImV4cCI6MTc3MzIyNjM2M30.SrVv1RA0lfPC74RFs98B2LmFEGmcBrJ_rWaVclJcinc

# Scoped registry for @oute packages
@oute:registry=https://npm.gofo.app/
