.modal_form {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.field_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: #212121;
	font-family: Inter, sans-serif;
}

.dialog_actions {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	padding: 0rem 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 600px) {
	.modal_form {
		padding: 16px;
	}

	.dialog_actions {
		padding: 8px 16px;
		gap: 8px;
	}
}
