.learn_more_container {
	margin-left: 0.5rem;
	color: #607d8b;
	text-decoration: underline;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.label {
	margin: 0.75rem 0 0.5rem 0.5rem;
	font-size: 0.85rem;
}
