.phone_number_container {
	width: 100%;
	height: 2.5rem;
	border: 0.0625rem solid #cfd8dc;
	border-radius: 0.375rem;

	&:hover {
		border-color: #212121;
	}

	&:focus-within {
		outline: 0.125rem solid #212121;
	}
}

.phone_number_input_container {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

.country_input_container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	border-radius: 0.25rem;
}

.country_flag {
	width: 1.5rem;
	height: 1.125rem;
	object-fit: cover;
	border-radius: 0.125rem;
}

.country_number {
	font-size: 1rem;
	color: #263238;
}

.vertical_line {
	width: 1px;
	height: 1.5rem;
	background-color: #cfd8dc;
	margin: 0 0.5rem;
}

.phone_number_input {
	flex: 1;
	border: none;
	outline: none;
	font-size: 1rem;
	color: #263238;
	background: transparent;

	&::placeholder {
		color: #90a4ae;
	}
}

.popover_container {
	z-index: 1000;
}

.search_wrapper {
	display: flex;
	padding: 0.5rem;
	align-items: flex-start;
	gap: 0.5rem;
	border-radius: 0.375rem;
	border: 0.0469rem solid #cfd8dc;
}

.search_input {
	flex: 1;
	border: none;
	outline: none;
	font-size: 0.875rem;
	color: #263238;

	&::placeholder {
		color: #90a4ae;
	}
}

.countries_container {
	margin-top: 0.625rem;
	width: 100%;
	height: 12.25rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	overflow-y: scroll;
	scroll-behavior: smooth;
	padding-right: 0.5rem;

	&::-webkit-scrollbar {
		width: 0.25rem;
		height: 1.25rem;
		border-radius: 0.3125rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #cfd8dc;
	}

	.option_not_found {
		padding: 0.625rem 0.125rem;
		color: #607d8b;
		font-size: 0.875rem;
		font-family: var(--tt-font-family);
	}
}
