.expanded_view {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.25rem;
}

.title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.signature_icon {
	width: 1.25rem;
	height: 1.25rem;
}

.signature_url_img {
	width: 13.75rem;
	height: 9.375rem;
	object-fit: contain;
}
