.chip {
	display: flex;
	align-items: center;
	padding: 0.125rem 0.5rem;
	border-radius: 1rem;
	gap: 0.25rem;
}

.chip_label {
	font-size: var(--cell-font-size);
	color: var(--cell-text-primary-color);
	letter-spacing: 0.0156rem;
	line-height: 1.5rem;
	word-break: break-all;
}
