NODE_ENV=local
BOOT_MODE=skip_preconfig #skip_preconfig | preconfig this will only needed when running as general service
IC_BACKEND_URL=http://localhost:3027
HEIMDALL_BACKEND_URL=http://localhost:3101
GPT_BACKEND_URL=http://localhost:3030
SHEET_BACKEND_URL=http://localhost:4545
TC_AGENT_BACKEND_URL=http://localhost:3035
MW_TOKEN=your_mw_secret
ENABLE_INTERNAL_API=false
APM_PROVIDER=newrelic
LOGGING_PROVIDER=newrelic
ENABLE_APM=false
ENABLE_REQ_LOGGING=false
ENABLE_CLOUD_LOGGING=false
ENABLE_LOCAL_LOGGING=true
APM_SECRET=dEpTUrALUipArEtentMAtEDiaNtIot
LOG_LEVEL=all
REDIS_CONN_STRING=redis://localhost:6379
REDIS_SOCKET_DB_INDEX=0
REDIS_DB_INDEX=0
HOOKNRUN_BACKEND_URL=http://localhost:3032
INTERVENE_BACKEND_URL=http://localhost:3037
BUDDY_BACKEND_URL=http://localhost:3042
MAILER_BACKEND_URL=http://localhost:3029
LOCAL_LOG_LEVEL=all
TC_ENRICH_BACKEND_URL=http://localhost:3043