.currency_container {
	border: 2px solid #212121; // in px to maintain cell border on different screen sizes
	background: #fff;
	width: calc(100% - 4px); // 4px to nullify border width, height
	min-height: calc(100% - 4px);
	font-family: var(--tt-font-family);

	.currency_input_container {
		display: flex;
		padding: 5px 6.8px; // in px to maintain cell alignment on different screen sizes
		justify-content: center;
		align-items: center;
		gap: 0.375rem;
		font-size: var(--cell-font-size);
		border: none;
		color: var(--cell-text-primary-color);
		min-width: fit-content;
		letter-spacing: 0.0156rem;

		.currency_value_input {
			border: none;
			outline: none;
			width: 100%;
			color: var(--cell-text-primary-color);
			font-family: var(--tt-font-family);
			font-size: var(--cell-font-size);
			letter-spacing: 0.0156rem;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		.country_input_container {
			display: flex;
			min-width: fit-content;
			align-items: center;
			gap: 0.375rem;
			cursor: pointer;

			.country_flag {
				aspect-ratio: auto 4/3;
				width: 1.25rem;
			}

			.country_number {
				min-width: fit-content;
			}
		}

		.vertical_line {
			width: 0.0625rem;
			height: 1.125rem;
			background-color: #cfd8dc;
		}
	}
}

.currency_container * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box !important;
}

.currency_input {
	input {
		border: none;
		outline: none;
		width: 100%;
	}
}

.popover_container {
	padding: 0.5rem;
	border-radius: 0.375rem;
	border: 0.75px solid #cfd8dc;
	background: #fff;
	box-shadow: 0px 6px 12px 0px rgba(122, 124, 141, 0.2);
	width: max-content;
	min-width: 16rem;

	.countries_container {
		margin-top: 0.625rem;
		width: 100%;
		max-height: 20vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.25rem;
		overflow-y: scroll;
		scroll-behavior: smooth;
		padding-right: 0.5rem;

		&::-webkit-scrollbar {
			width: 0.25rem;
			height: 1.25rem;
			border-radius: 0.3125rem;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: #cfd8dc;
		}

		.option_not_found {
			padding: 0.625rem 0.875rem;
			color: #607d8b;
			font-size: 0.875rem;
			font-family: var(--tt-font-family);
		}
	}
}
