// some margin values changed to px to maintain alignment across different screen sizes
.file_icons {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 5px;
	margin-top: 2px;
}

.wrapper {
	display: flex;
	align-items: center;
}

.visibleIcons,
.hiddenIcons {
	display: flex;
}

.hiddenIcons {
	visibility: hidden;
}

.chip {
	border-radius: 100px;
	background: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	color: #fff;
	font-size: 12px;
	padding: 0 6px;
	font-family: var(--tt-font-family);
}
