.field_container {
	padding: 1.25rem 0rem;
	width: 100%;
	box-sizing: border-box;
}

.label {
	margin: 0 0 0.5rem 0.5rem;
	font-size: 0.85rem;
}

.configuration_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
}

.divider {
	margin: 1.25rem 0;
	background-color: #cfd8dc;
	width: 100%;
	height: 0.047rem;
}

.selected_option_icon {
	width: 1.25rem;
	height: 1.25rem;
	filter: invert(1) brightness(1000%);
}

.option_icon {
	width: 1.25rem;
	height: 1.25rem;
}
