.artefact-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 0.063rem solid rgba(0, 0, 0, 0.12);
  margin: 0.125rem;
}
.artefact-card.small {
  width: 12rem;
  height: 12rem;
}
.artefact-card.medium {
  width: 16rem;
  height: 16rem;
}
.artefact-card.large {
  width: 20rem;
  height: 20rem;
}
.artefact-card.checked {
  background-color: rgb(227, 242, 253) !important;
}
.artefact-card:hover {
  background-color: rgba(38, 50, 56, 0.1) !important;
}

.artefact-card:focus {
  outline: 0.125rem solid rgb(33 150 243);
}
.artefact-card.no-preview {
  height: auto;
}
.preview-container {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: calc(100% - 3.125rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tags-container {
  width: 100%;
  max-height: 3.125rem;
  padding: 0.313rem;
  box-sizing: border-box;
  /* background-color: rgba(255, 255, 255, 0.3); */
  position: absolute;
  top: 1rem;
  left: 0;
  overflow: auto hidden;
  display: flex;
  gap: 0.313rem;
}
.label-container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  width: 100%;
  gap: 0.75rem;
  padding: 0.063rem;
  height: 4rem;
  box-sizing: border-box;
  outline: none !important;
}
.left-adornment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  max-width: 2.5rem;
  overflow: hidden;
  height: 4rem;
}
.right-adornment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  max-width: 2.5rem;
  overflow: hidden;
  height: 4rem;
}
.tags-container::-webkit-scrollbar {
  display: none;
}
