.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 20px;
  background-color: #fafcfe;
}

.input-container {
  margin-top: 1rem;
}

.input {
  margin-top: 0.5rem;
  background-color: #ffffff;
}
