.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.75rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sectionTitle {
  font-weight: 500;
}

.sectionDescription {
  color: #607d8b;
}
.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.viewOptions {
  display: flex;
  gap: 0.74rem;
}

.shareOptions {
  display: flex;
  gap: 1rem;
}
