.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0rem;
  position: relative;
  gap: 2rem;
}

.mainContainer:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  right: -2rem;
  height: 0.0469rem;
  background-color: var(--grey-lighten-4, #cfd8dc);
}

.mainContainer:last-child {
  padding-bottom: 0;
}

.switchContainer {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
}

.switchInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: fit-content;
  cursor: pointer;
  outline: none;
}

.switchInfo:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
  border-radius: 4px;
}
