.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.fieldContainer {
  display: flex;
  align-items: stretch;
  background: rgba(248, 250, 252, 1);
  border-radius: 24px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  gap: 0.5rem;
  padding: 4px 6px;
}

.textContainer {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
  background: unset;
}

.copyButtonWrapper {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.textContainer::-webkit-scrollbar {
  display: none;
}

.text {
  white-space: nowrap;
  font-family:
    "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #263238;
  padding: 0.625rem 0.75rem;
  user-select: text;
  background: unset;
}

/* Firefox scrollbar */
.textContainer {
  scrollbar-width: none;
}
