.title_container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header {
	color: #263238;
	font-size: 1.25rem;
	line-height: 2rem;
}

.description {
	color: #263238;
	font-size: 1rem;
	line-height: 1.75rem;
}
