.currency_container {
	width: 100%;
	height: 2.5rem;
	border: 0.0625rem solid #cfd8dc;
	border-radius: 0.375rem;

	&:hover {
		border-color: #212121;
	}

	&:focus-within {
		outline: 0.125rem solid #212121;
	}
}

.currency_input_container {
	display: flex;
	align-items: center;
	padding: 0.5rem;

	.currency_value_input {
		border: none;
		outline: none;
		width: 100%;
		color: var(--cell-text-primary-color);
		font-family: var(--tt-font-family);
		font-size: 1rem;
		letter-spacing: 0.0156rem;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.country_input_container {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		border-radius: 0.25rem;
	}

	.country_flag {
		width: 1.5rem;
		height: 1.125rem;
		object-fit: cover;
		border-radius: 0.125rem;
	}
}

.vertical_line {
	width: 1px;
	height: 1.5rem;
	background-color: #cfd8dc;
	margin: 0 0.5rem;
}

.currency_container * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box !important;
}

.currency_input {
	input {
		border: none;
		outline: none;
		width: 100%;
	}
}

.popover_container {
	.search_wrapper {
		display: flex;
		padding: 0.5rem;
		align-items: flex-start;
		gap: 0.5rem;
		border-radius: 0.375rem;
		border: 0.0469rem solid #cfd8dc;

		.search_icon {
			width: 1.25rem;
			height: 1.25rem;
		}

		.search_input {
			width: 100%;
			font-family: Inter;
			color: #000;
			font-size: 1rem;
			line-height: 1.25rem;
			letter-spacing: 0.0156rem;
			outline: none;
			border: none;

			&::placeholder {
				color: #607d8b;
			}
		}
	}

	.countries_container {
		margin-top: 0.625rem;
		width: 100%;
		height: 12.25rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.25rem;
		overflow-y: scroll;
		scroll-behavior: smooth;
		padding-right: 0.5rem;

		&::-webkit-scrollbar {
			width: 0.25rem;
			height: 1.25rem;
			border-radius: 0.3125rem;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: #cfd8dc;
		}

		.option_not_found {
			padding: 0.625rem 0.125rem;
			color: #333;
			font-size: 0.875rem;
			font-family: Inter;
		}
	}
}
