.group_by_title_container {
	padding: 1rem 1.25rem;
	border-bottom: 0.047rem solid #cfd8dc;
}

.group_by_title {
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--cell-text-primary-color);
}




