.colorOption {
	display: flex;
	width: auto;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 0.5rem;
	height: 1.875rem;
	position: static;
}

.colorOption:hover {
	border-radius: 0.375rem;
	background-color: #eceff1;
}

.colorOptionIcon img {
	margin-top: 0.188rem;
}

.colorOptionIcon svg {
	height: 1.25rem;
}

.colorOptionLabel {
	color: #263238;
	text-align: center;
	font-family: Inter;
	margin-left: 0.375rem;
	font-size: 0.875rem;
	letter-spacing: 0.006rem;
}
