.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.input-container {
  padding: 1.25rem 1.25rem 0rem 1.25rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
.content-scrollable {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.footer-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #eceff1;
  padding: 1rem 1.25rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: auto;
}
