.code-block-container {
  border: 0.047rem solid #cfd8dc;
  border-radius: 0.375rem;
  overflow: hidden;
  min-width: 16rem;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.5rem;
}
pre {
  margin: 0.5em 0;
}
.code-block-container.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.code-block {
  overflow: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.wrap {
  word-wrap: break-word;
  text-wrap: wrap;
  white-space: pre-wrap;
}
.copy-block {
  display: flex;
  align-items: flex-start;
  gap: 0.3125rem;
}
