.tabContent {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.settingsContainer {
  height: 100%;
  overflow-y: auto;
}

/* .settingsContainer {
  height: 100%;
  overflow-y: auto;
} */
