.cell {
  display: flex;
  border-right: 1px solid #e9ecef;
  min-width: 20px;
}

.cell:last-child {
  border-right: none;
}

.select {
  width: 100%;
  height: 100%;
  /* padding: 8px 12px; */
  border: none;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  min-height: 36px;
  font-size: 1rem;
}

.select:focus {
  outline: none;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  min-height: 36px;
  color: #263238;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}
