.title_container {
	display: flex;
	gap: 0.75rem;
	align-items: center;
}

.title {
	color: #263238;
	font-family: Inter;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0.0156rem;
}
