.stepper_container {
	width: 100%;
	overflow-y: auto;
	max-height: 100%;
}

.step_content {
	margin-top: 1rem;
	max-height: 50vh;
	overflow-y: auto;
}

.step_actions {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}
