.chipContainer {
	display: flex;
	align-items: center;
}

.scqChip {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 20px;
	padding: 2px 8px;
	border-radius: 16px;
	font-size: 13px;
	font-weight: 400;
	color: #212121;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

