.notification-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.notification-container{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.notification-section-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-label{
  font-weight: 800;
  font-size: 1rem;
  line-height: 2rem;
  color : #263238;
}

.notification-section-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notification-section-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.notification-section-item-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.notification-section-item-content{
  display: flex;
  flex-direction: column;
}
