.dialog_title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.dialog_content {
	padding: 1.25rem 0.25rem;
	display: flex;
	justify-content: center;
}

.dialog_actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1.5rem;
}

/* Responsive adjustments */
@media (max-width: 600px) {
	.dialog_title {
		padding: 1rem;
	}

	.dialog_content {
		padding: 1rem;
	}

	.dialog_actions {
		padding: 1rem;
	}
}
