.header_container {
	display: flex;
	align-items: center;
	font-family: var(--tt-font-family);
	font-size: 1rem;
	font-weight: 400;
	color: var(--cell-text-primary-color);
}
.header_label {
	padding-left: 0.375rem;
}

.address_icon {
	width: 1.25rem;
	height: 1.25rem;
}
