.footer-container {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  border-radius: 0 0 0 0.75rem;
  gap: 1.5rem;
  background-color: #fff;
}

.footer-line {
  position: absolute;
  height: 0.75px;
  width: 100%;
  top: 0;
  background: linear-gradient(
    213deg,
    #fd5d2d 8.86%,
    #fb6a2b 27.97%,
    #f58024 44.96%,
    #f2901d 60.3%,
    #f09a19 94.4%
  );
}

.footer-left-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 1.5rem;
}

.footer-right-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
