.form_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1.375rem;

	.form_item {
		display: flex;
		flex-direction: column;
		width: 100%;

		.form_label {
			color: var(--cell-text-primary-color);
			font-family: var(--tt-font-family);
			font-size: var(--cell-font-size);
			letter-spacing: 0.0156rem;
			margin-left: 0.625rem;
			margin-bottom: 0.75rem;
		}
	}
}

.error {
	margin: 0rem 0rem 0rem 0.375rem;
	font-size: var(--cell-font-size);
	color: red;
}
