.expanded_view_container {
	width: 30rem;
	padding: 1.25rem;
}

.dropdown_static_icon {
	width: 1.5rem;
	height: 1.5rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	gap: 0.38rem;
}

.options_list {
	margin-bottom: 1.5rem;
}

.mcq_icon {
	vertical-align: bottom;
}

.empty_option {
	padding: 0 0.5rem;
	color: #607d8b;
	font-size: 0.875rem;
}

.field_name {
	flex: 1;
}

.popover_container {
	border-radius: 0.375rem;
	border: 0.047rem solid var(--grey-lighten-4, #cfd8dc);
	background: #fff;
	box-shadow: 0rem 0.375rem 0.75rem 0rem rgba(122, 124, 141, 0.2);
	min-width: 16.5rem;
}
