.row {
  display: flex;
  /* gap: 0;
  padding: 0;
  align-items: stretch; */
  transition: background-color 0.2s ease;
  /* background-color: white; */
  border-bottom: 1px solid #e9ecef;
  min-height: 30px;
}

.row:hover {
  background-color: #fafafa;
}

/* .row:last-child {
  border-bottom: none;
} */

.cell {
  display: flex;
  /* align-items: center; */
  /* padding: 12px 16px; */
  border-right: 1px solid #e9ecef;
  padding: 0rem 10px;
  min-width: 20px;
}

.cell:last-child {
  border-right: none;
}

.errorRow {
  background-color: rgba(239, 68, 68, 0.05);
}

.errorRow:hover {
  background-color: rgba(239, 68, 68, 0.08);
}
