.field_array_content {
	padding-top: 2rem;
}

.field_container {
	font-size: 1rem;
	font-weight: 500;
	color: #263238;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.first_field_container {
	margin-top: 0;
}

.option_row {
	display: flex;
	gap: 1.5rem;
}

.option_container {
	margin-top: 0.5rem;
}

.remove_icon {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	margin-top: 1rem;
}

.divider {
	margin-top: 1.5rem;
	background-color: #cfd8dc;
	height: 0.0625rem;
}

.data_in_column {
	color: #607d8b;
	font-size: 1rem;
	margin-top: 1.25rem;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

	// 👇 Clamp total to 2 lines max
	-webkit-line-clamp: 2;
	line-clamp: 2; // standard

	span {
		display: inline;
	}
}
