// some padding/border/font values changed to px to maintain alignment across different screen sizes
.chips_container {
	display: flex;
	align-items: center;
	gap: 4px;
	flex: 1;
}

.chip {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 2px 8px;
	border-radius: 16px;
	font-size: var(--cell-font-size);
	line-height: 20px;
	letter-spacing: 0.25px;
	max-width: calc(100% - 16px);
	font-family: var(--tt-font-family);
}

.expanded_view_chips {
	gap: 0.75rem;
	flex-wrap: wrap;
	max-height: 12vh;
	overflow-y: auto;
}

.chip_text {
	color: var(--cell-text-primary-color);
	font-family: var(--tt-font-family);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	flex: 1;
}

.limit_value_chip {
	background-color: #212121;
	color: #fff;
}

.wrap {
	flex-wrap: wrap;
}
