.signature_container {
	box-sizing: border-box;
	outline: none;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.signature_input_container {
	display: flex;
	align-items: center;
	padding: 3px 6.88px;
	min-height: 24px;
	width: 100%;
	flex: 1;
	min-height: 0;
	overflow: hidden;
}

.action_container {
	display: flex;
	gap: 10px;
	align-items: center;
}

.signature_url_img {
	width: 64px;
	height: 24px;
	object-fit: contain;
}

.signature_popper_container {
	background-color: #fff;
	border: 0.047rem solid #cfd8dc;
	border-radius: 0.375rem;
	box-shadow: 0rem 0.375rem 0.75rem 0rem rgba(122, 124, 141, 0.2);
	overflow: hidden;
}

.expanded_view_container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.25rem;
}

.title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.signature_icon {
	width: 1.25rem;
	height: 1.25rem;
}

.title_text {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 500;
}

.signature_url_img {
	width: 13.75rem;
	height: 9.375rem;
	object-fit: contain;
}

.empty_signature {
	color: #9e9e9e;
	font-size: 14px;
	text-align: center;
}

.edit_action_icon,
.expand_action_icon {
	cursor: pointer !important;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
