.filter_container {
	margin-bottom: 1.25rem;
}

.users_list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	max-height: 32vh;
	overflow-y: auto;
	padding-right: 0.5rem;
}

.user_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 0;
}

.user_role_container {
	min-width: 1.5rem;
	width: 20%;
	display: flex;
	justify-content: flex-end;
}

.owner_badge {
	background-color: var(--Green-Green---50, #ebf5f2);
	color: var(--Light-Green-Green---900, #215c3f);
	border-radius: 0.375rem;
	padding: 0.625rem;
	width: 100%;
	text-align: center;
}
