.signature_field_container {
	width: 100%;
	height: 100%;
}

.signature_preview_area {
	position: relative;
	background: #fff;
	border: 0.0625rem solid #cfd8dc;
	border-radius: 0.75rem;
	padding: 0.625rem;
	display: flex;
	justify-content: center;
}

.signature_img {
	max-width: 60%;
}

.edit_signature_btn {
	position: absolute !important;
	bottom: 0.75rem;
	right: 0rem;
	background: none;
	border: none;
	color: #212121;
	text-align: center;
	font-family: Inter;
	font-size: 1rem;
	text-decoration-line: underline !important;

	&:hover {
		text-decoration: underline;
		background-color: #fff !important;
	}
}

.content_container {
	padding: 2rem 1.5rem;
}

.signature_canvas {
	margin-top: 1.25rem;
}

.footer_container {
	display: flex;
	align-items: center;
	padding: 0.25rem;
	gap: 1.5rem;
}
