.title {
	min-width: fit-content;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	flex: 1;
}

.header_actions_container {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.action_list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 0.5rem;
}
