// some padding and margin values changed to px to maintain alignment across different screen sizes
.time_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--cell-text-primary-color);
	margin-top: 2px;
	font-size: var(--cell-font-size);
	font-family: Inter;

	input {
		width: 100%;
		border: none;
		outline: none;
		background: transparent;
		font-size: var(--cell-font-size);
		color: var(--cell-text-primary-color);
		font-family: var(--tt-font-family);
	}
}

.meridiem {
	padding: 0px 14px;
	border-left: 1px solid #cfd8dc;
	letter-spacing: 0.25px;
}
