@media (max-width: 767px) {
	.popper_container {
		width: 100% !important;
	}

	.filter_option_label {
		max-width: 12rem !important;
	}
}

.filter_option {
	display: flex;
	width: auto;
	justify-content: center;
	align-items: center;
	border-radius: 0.375rem;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	gap: 0.375rem;
}

.filter_option:hover {
	background-color: #eceff1;
}

.filter_option_icon img {
	margin-top: 0.1875rem;
}

.filter_option_label {
	color: #263238;
	text-align: center;
	letter-spacing: var(--subtitle2-letter-spacing);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 25rem;
}

.popper_container {
	background: #fff;
	min-width: 38.5rem;
	width: 50rem;
	box-shadow: 0rem 0.375rem 0.75rem 0rem rgba(122, 124, 141, 0.2);
}

.popper_content {
	padding: 1.25rem;
	max-height: 30.75rem;
	overflow-y: auto;
}

.popper_footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1.5rem;
	padding: 1.5rem;
	border-top: 0.0469rem solid #cfd8dc;
}

.filter_view_highlight {
	background-color: #b1edd0 !important;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12.5rem;
	width: 31.25rem;
}
