@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 98%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 0 0% 0% / 0.08;
    --border-high: 0 0% 0% / 0.12;
    --input: 0 0% 0% / 0.06;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.9 10.6% 64.9%;

    --radius: 0.5rem;

    --warning: 38 92% 50%;
    --warning-foreground: 240 6% 10%;
    --success: 160 84% 39%;
    --success-foreground: 152 81% 96%;
    --surface: 0 0 0% / 0.06;
  }

  .dark {
    --background: 220 5% 8%;
    --foreground: 213 13% 86%;

    --card: 210 4% 10%;
    --card-foreground: 213 13% 86%;

    --popover: 210 3% 14%;
    --popover-foreground: 213 13% 86%;

    --primary: 210 12% 89%;
    --primary-foreground: 240 6% 10%;

    --secondary: 210 5% 12%;
    --secondary-foreground: 213 13% 86%;

    --muted: 220 22% 3%;
    --muted-foreground: 210 3% 55%;

    --accent: 210 100% 98% / 0.08;
    --accent-foreground: 0 0 92%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 86% 97%;

    --border: 0 0% 100% / 0.08;
    --border-high: 0 0% 100% / 0.12;
    --input: 0 0% 100% / 0.06;

    --ring: 240 5% 84%;

    --warning: 38 92% 50%;
    --warning-foreground: 240 6% 10%;

    --success: 161 94% 30%;
    --success-foreground: 152 81% 96%;
    --surface: 0 0% 100% / 0.08;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
