.time_field_container {
	width: 10rem;
	min-height: 2.5rem;
	border: 0.0625rem solid #cfd8dc;
	border-radius: 0.375rem;

	&:hover {
		border-color: #212121;
	}

	&:focus-within {
		outline: 0.125rem solid #212121;
	}
}

.time_input_container {
	display: flex;
	align-items: center;
	width: 100%;
}

.time_input {
	width: inherit;
	border: none;
	outline: none;
	background: transparent;
	font-size: 1rem;
	font-family: var(--tt-font-family);
	color: var(--cell-text-primary-color);
	padding: 0.75rem 0 0.75rem 0.75rem;

	&::placeholder {
		color: #90a4ae;
	}
}

.meridiem_container {
	display: flex;
	align-items: center;
}

.vertical_line {
	width: 1px;
	height: 1.5rem;
	background: #cfd8dc;
	margin-right: 0.5rem;
}

.meridiem_selector {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	cursor: pointer;
	padding: 0.75rem;
	font-size: 1rem;
}

.meridiem_option {
	cursor: pointer;
	padding: 0.5rem;
	color: var(--cell-text-primary-color);
	border-radius: 0.375rem;
	font-size: 1rem;

	&:hover {
		background: #f5f5f5;
	}
}
