.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1.5rem;
  gap: 1rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.5rem 1.5rem;
  gap: 2rem;
}

.grid-style {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
}

.initialize-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.configure-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
