.ranking_container {
	display: flex;
	min-height: 2.5rem;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.625rem;
	border-radius: 0.375rem;
	border: 0.0625rem solid #cfd8dc;
	cursor: pointer;
	width: 100%;
}

.rank_item {
	padding: 0.125rem 0.5rem;
	border-radius: 0.375rem;
	background: #cfd8dc;
	letter-spacing: 0.0625rem;
	font-family: var(--tt-font-family, sans-serif);
	font-size: var(--cell-font-size, 0.8125rem);
	line-height: 1.375rem;
	color: var(--cell-text-primary-color, #212121);
}
