.sort_content_container {
	width: 31.25rem;

	.sort_form {
		margin-block-end: 0rem;
		padding: 1.25rem;
		border-top: 0.0625rem solid #cfd8dc;
		box-sizing: border-box;
		max-height: 18.75rem;
		overflow-y: auto;
	}
}
