.enrichment_container {
	width: 100%;
	color: var(--cell-text-primary-color);
	font-family: var(--tt-font-family);
	font-size: var(--cell-font-size);
	letter-spacing: 0.0063rem;
	margin-top: 2px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 8px;
}

.ellipses {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1;
	min-width: 0;
}

.wrap {
	white-space: pre-wrap;
	word-break: break-all;
	flex: 1;
	min-width: 0;
}

.play_icon {
	cursor: pointer !important;
	border-radius: 0.125rem;
	width: 1.25rem;
	height: 1.25rem;
}
