.table_list_container {
	padding: 0.125rem 0.5rem;
	display: flex;
	cursor: pointer;
}

.popover_content {
	padding: 0;
	width: 23.25rem;
	background: #fff;
}

.search_container {
	padding: 0.75rem;
	border-bottom: 1px solid #e0e0e0;
}

.table_list {
	max-height: 18.6rem;
	overflow-y: auto;
	padding: 0.25rem 0.75rem;
}

.table_item {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem 0.5rem 0rem;
	cursor: pointer;
	color: #212121;
	background-color: #fff;
	border-radius: 0.375rem;
	margin: 0;
	/* gap: 0.75rem; */
	transition: background-color 0.15s ease;

	&:hover {
		background: #f5f5f5;
	}

	&.active {
		color: #212121;
		background-color: #fff;

		&:hover {
			background: #f5f5f5;
		}
	}
}

.checkmark_container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 2rem;
	flex-shrink: 0;
}

.table_name {
	font-size: 13px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	color: #212121;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.no_tables_message {
	padding: 0.93rem;
	text-align: center;
}
