.errorContainer {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	background: #ffebee;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	max-width: 100%;
	overflow: hidden;
}

.errorText {
	font-size: 1rem;
	color: #263238;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1;
}

.errorIcon {
	width: 1.25rem;
	height: 1.25rem;
}
