.container {
	margin: 0 0.5rem;
}

.export_container {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	color: #fff;
	cursor: pointer;
}

.popper_container {
	width: 5rem;
	padding: 0.5rem;
}

.type {
	padding: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.type:hover {
	background-color: #eceff1;
	border-radius: 0.375rem;
}
