.address_container {
	font-size: var(--cell-font-size);
	font-family: var(--tt-font-family);
	color: var(--cell-text-primary-color);
	margin-top: 2px; // in px to maintain alignment across different screen sizes
}

.ellipses {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wrap {
	white-space: pre-wrap;
	word-break: break-all;
}
