.content_container {
	padding: 2rem 1.5rem;
}

.content {
	display: flex;
	align-items: center;
	height: 2.5rem;
	padding: 0.5rem;
	gap: 0.5rem;
	margin-top: 1.25rem;
	border-radius: 0.375rem;
	border: 0.047rem solid #cfd8dc;
}
