.filesContainer {
	display: flex;
	align-items: center;
	gap: 4px;
	flex-wrap: wrap;
}

.fileImage {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.25rem;
	overflow: hidden;
	flex-shrink: 0;
	background: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imagePreview {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.fileIcon {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f5f5f5;
	border-radius: 0.25rem;
	flex-shrink: 0;
}
